@use 'base/variables' as v;
@use 'base/mixins' as m;
.contenedor {
  width: 15rem;
  height: 15rem;
  margin: 0 auto;
  border: 1px solid .contenedor __imagen;
  border-width: 20rem;
  border-height: 20rem;
  border-margin: 0 auto;
  border-border-radius: 50%;
}

.contacto {
  padding: 15rem 0;
  margin-top: -5rem;
}
