@use 'base/variables' as v;
@use 'base/mixins' as m;

.alerta{
    @include m.contenedor-md;
    padding: 1.5rem 1.5rem 1.5rem 3rem;
    text-transform: uppercase;
    margin: 1rem auto 0 auto;
    font-size: 1.2rem;
    font-weight: v.$bold;
    text-align: center;
    &__error{
        background-color: lighten(v.$rojo, 50%);
        border-left: .5rem solid v.$rojo;
        color: v.$rojo;
    }

    &__exito{
        background-color: lighten(v.$verde, 50%);
        border-left: .5rem solid v.$verde;
        color: darken(v.$verde, 10%);
    }
}